body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
}

img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    width: 300px;
    height: auto;
    margin-top: 20px;
}