body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: black;
    color: white;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #333;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
}